<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkvKl71c7OIRiOjEuRaTDpLSByAUvnpp4</string>
	<key>GCM_SENDER_ID</key>
	<string>1017821902237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvo.blackjack21.stg</string>
	<key>PROJECT_ID</key>
	<string>blackjack21-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>blackjack21-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017821902237:ios:6c9087fc850324d5aeeb74</string>
</dict>
</plist>